:root {
  --SkyBlue: #7bdff2;
  --Celeste: #b2f7ef;
  --MintCream: #eff7f6;
  --PiggyPink: #f7d6e0;
  --CottonCandy: #f2b5d4;
}

.news-feed-comments {
  padding: 0.5vw;
  margin: 0;
  margin-top: 10px;
  background-color: var(--MintCream);
  width: 55vw;
  border-radius: 10px;
}

.username {
  border-bottom: var(--PiggyPink) 2px solid;
  padding-top: 0.5vw;
}

.comment {
  padding-top: 0.5vw;
}

.MuiCollapse-root,
.MuiCollapse-entered {
  background-color: var(--MintCream);
}
