:root {
  --SkyBlue: #7bdff2;
  --Celeste: #b2f7ef;
  --MintCream: #eff7f6;
  --PiggyPink: #f7d6e0;
  --CottonCandy: #f2b5d4;
}

.button {
  flex-wrap: wrap;
  background-color: var(--PiggyPink);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: var(--MintCream);
  font-family: "Poppins", sans-serif;
  text-shadow: var(--CottonCandy) 2px 1px 1px;
  font-weight: bolder;
  font-size: medium;
  width: 7vw;
  border: 0;
}

.button:hover {
  background-color: var(--CottonCandy);
  text-shadow: var(--SkyBlue) 1px 1px 1px;
}
