.navbar {
  display: flex;
  margin: 0;
  background-color: var(--SkyBlue);
  width: 98vw;
  padding: 0.5vw 1vw;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--MintCream);
  font-family: "Poppins", sans-serif;
  text-shadow: var(--CottonCandy) 1px 1px 1px;
  font-weight: bolder;
  font-size: 3vw;
}

@media screen and (max-width: 500px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .title {
    font-size: 15vw;
  }
}
