:root {
  --SkyBlue: #7bdff2;
  --Celeste: #b2f7ef;
  --MintCream: #eff7f6;
  --PiggyPink: #f7d6e0;
  --CottonCandy: #f2b5d4;
}

.swiper-container {
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 50px;
  align-items: center;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 20vw;
  height: auto;
  background-color: var(--MintCream);
  padding: 0.5vw;
  border: 2px solid var(--SkyBlue);
  border-radius: 10px;
}

.slide-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.avatar-carousel {
  width: 45%;
  height: 45%;
}

@media screen and (max-width: 800px) {
  .swiper-slide {
    width: 30vw;
  }
  .avatar-carousel {
    width: 20vw;
  }
}
@media screen and (max-width: 500px) {
  .swiper-slide {
    width: 95vw;
  }

  .avatar-carousel {
    width: 85vw;
  }
}
