.footer {
  display: flex;
  margin: 0;
  background-color: var(--SkyBlue);
  width: 98vw;
  padding: 0.5vw 1vw;
  justify-content: center;
  align-items: center;
  left: 0px;
  bottom: 0px;
}

.footer-title {
  color: var(--MintCream);
  font-family: "Poppins", sans-serif;
  text-shadow: var(--CottonCandy) 1px 1px 1px;
  font-weight: lighter;
  font-size: 1vw;
}
