:root {
  --SkyBlue: #7bdff2;
  --Celeste: #b2f7ef;
  --MintCream: #eff7f6;
  --PiggyPink: #f7d6e0;
  --CottonCandy: #f2b5d4;
}

.avatar-img {
  border-radius: 50%;
  border: solid 5px var(--CottonCandy);
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .avatar-img {
    width: 25vw;
    height: 25vh;
  }
}
@media screen and (max-width: 500px) {
  .avatar-img {
    width: 45vw;
    height: 45vh;
  }
}
