:root {
  --SkyBlue: #7bdff2;
  --Celeste: #b2f7ef;
  --MintCream: #eff7f6;
  --PiggyPink: #f7d6e0;
  --CottonCandy: #f2b5d4;
}

.avatar-img {
  border-radius: 50%;
  border: solid 5px var(--CottonCandy);
  height: 180px;
  width: 180px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 800px) {
  .avatar-img {
    height: 180px;
    width: 180px;
  }
}
@media screen and (max-width: 500px) {
  .avatar-img {
    height: 180px;
    width: 180px;
  }
}
