:root {
  --SkyBlue: #7bdff2;
  --Celeste: #b2f7ef;
  --MintCream: #eff7f6;
  --PiggyPink: #f7d6e0;
  --CottonCandy: #f2b5d4;
}

.user-card-container {
  background-color: var(--MintCream);
  padding: 0.5vw;
  border: 2px solid var(--SkyBlue);
  border-radius: 10px;
  width: 23vw;
  display: block;
  text-align: center;
  margin: 1vw;
}

.user-card-info {
  padding: 0.5vw;
  border-bottom: 2px solid var(--CottonCandy);
}

.user-card-bottom {
  padding: 0.5vw;
}

@media screen and (max-width: 800px) {
  .user-card-container {
    width: 45vw;
  }
}
@media screen and (max-width: 500px) {
  .user-card-container {
    width: 95vw;
  }
}
